
.nav {
    padding: 10px;
    font-size: 17px;

}

h1 {
    text-align: center;
    width: 700px;
    margin-left: 60px;
    font-size: 50px;
    font-weight: lighter;
}

.nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color:#36332f
}



/* Button and text features */
#btn  {
    font-family: 'Quicksand', sans-serif;
    background-color: #53514f;
    border: none;
    color: white;
    text-align: center;
    font-size: 13px;
    opacity: 1;
    transition: 0.3s;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#btn:hover {
    background-color: #857d73;
    color: white;
}

#btn a {
    text-decoration: none;
    color: white;
}

.text {
    font-size: 12px;
}

#box-text {
    font-size: 14px;
    color: grey;
}


/* display  */
@media screen and (max-width: 380px) {
 
    h1 {
        font-size: 25px;  
    }
  
}

@media screen and (min-width: 381px) and (max-width:768px) {
 h1{
     font-size: 35px;
    } 
}


 
   
